body {
    padding-top: 50px;
}

/* Landscape phones and down */
@media (max-width: 480px) {
    .hero-unit {
        padding: 20px;
    }
    .hero-unit h1 {
        font-size: 30px;
    }
    .hero-unit h2 {
        font-size: 18px;
    }
    .hero-unit p {
        font-size: 15px;
    }
}
 
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}
 
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
}
 
/* Large desktop */
@media (min-width: 1200px) {
}
